<ion-content [fullscreen]="true" class="login-content">

  <!-- Logo -->
  <div class="logo-wrapper">
    <img src="assets/logo_barbearia.png" alt="Logo Pierre Barbeiro" class="logo" />
  </div>

  <!-- Formulário -->
  <div class="form-wrapper">

    <div class="inputs-group">
      <ion-input
        class="input-field"
        type="email"
        placeholder="Digite seu email"
        [(ngModel)]="email"
      ></ion-input>

      <ion-input
        class="input-field"
        type="password"
        placeholder="Digite sua senha"
        [(ngModel)]="senha"
      ></ion-input>
    </div>

    <div class="buttons-group">
      <ion-button expand="block" class="btn-primary" (click)="entrar()">
        Entrar
      </ion-button>
      <ion-button expand="block" class="btn-secondary" (click)="cadastrar()">
        Cadastre-se
      </ion-button>
    </div>

  </div>

  <div class="contato-wrapper">
    <p class="contato-texto">Alguma dúvida? Entre em contato</p>
    <p class="contato-numero">(19) 98999-2307</p>
  </div>

</ion-content>